.header {
  padding: 0.5625rem 0.5625rem;
  margin: 0 auto;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  background-color: #ededed;
  justify-content: space-between;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.info__item {
  text-decoration: none;
  margin-right: 0.75rem;
  line-height: 0.5625rem;
  color: black;
  text-align: left;
}

.inicio {
  display: flex;

  color: #000000;
}
