.header{

    
    padding: 9px 9px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    justify-content: space-between;
    
}



.info{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    
}

.info__item{
    text-decoration: none;
    margin-right: 12px;
    font-style: normal;
    line-height: 9px;
    color: black;
    text-align: left;
}

.inicio{
display: flex;    
font-family: Roboto;
color: #000000;
}

