.header {
  padding: 0.5625rem 0.5625rem;
  margin: 0 auto;
  height: 3.125rem;
  display: flex;
  background-color: #ededed;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.info__item {
  text-decoration: none;
  margin-right: 2rem;
  line-height: 0.5625rem;
  color: black;
  text-align: left;
  padding: 0.125rem;
}

.info__item:hover {
  border-bottom: 0.125rem solid black;
}

.inicio {
  display: flex;
  color: #000000;
}
